* {
    margin: 0;
    padding: 0;
}

.full {
    background-color: lightblue;
}

/*==Style cơ bản cho website==*/
body {
    font-family: sans-serif;
    color: #333;
}

/*==Style cho menu===*/
#menu ul {
    /* background: #1F568B;*/
    list-style-type: none;
    position: absolute;
    top: 52px;
    left: 500px;
    font-size:20px;
}

#menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

    #menu a:hover {
        background: #F1F1F1;
        color: #333;
    }

/*==Dropdown Menu==*/
.sub-menu {
    display: none;
}

#menu li {
    position: relative;
}

    #menu li:hover .sub-menu {
        display: block;
    }

.sub-menu li {
    margin-left: 0 !important;
}

/*==Menu cấp 3==*/
.sub-menu > ul {
    display: none !important;
}

.Đki {
    position: absolute;
    top: 10px;
    left: 1435px;
    color: white;
}

.dangnhap {
    position: absolute;
    top: 10px;
    left: 1310px;
    color: white;
}

.chuchay {
    width: 990px;
    position: absolute;
    top: 10px;
    left: 300px;
    color: #ffd800;
}

/*
footer*/
.footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1280px;
    height: 400px;
    background-color: #212121;
}

    .footer > div {
        width: 339px;
        margin: 20px;
        color: black;
        text-align: center;
        line-height: 35px;
        font-size: 30px;
    }

.footer1 {
    align-self: center;
    text-align: left;
    position: relative;
    top: 65px;
    left: -40px;
}

.form-group1 {
    width: 280px;
}

.btn2 {
    position: absolute;
    top: 43.2px;
    left: 1388px;
}

.footer2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1682px;
    height: 30px;
    background-color: black;
}

    .footer2 > div {
        width: 1476px;
        margin: 20px;
        color: black;
    }

.fb {
    background-color: #0b9ef8;
}
.full {
    background: url("https://res.cloudinary.com/vnskins/image/upload/q_auto:eco/background.png") repeat center center fixed;
}
/*backtop*/
.back-to-top {
    position: fixed;
    top: auto;
    left: auto;
    right: 15px;
    bottom: 15px;
    font-size: 32px;
    opacity: 0.8;
    z-index: 9999;
    cursor: pointer;
}

    .back-to-top:hover {
        opacity: 1;
    }